# find ./* -size +100M | cat >> .gitignore
# data/universal-sentence-encoder-multilingual_3/variables/variables.data-00000-of-00001
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
.idea
*.egg
package-lock.json
package.json
test2.py
test.py
node_modules/
2.0.0rc0
.data
/data
data

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
./data/universal-sentence-encoder-multilingual_3/variables/variables.data-00000-of-00001
/data/universal-sentence-encoder-multilingual_3/variables/variables.data-00000-of-00001
