{% extends 'base.html' %} {% block head %}

<meta charset="utf-8" />
<meta name="robots" content="noindex, nofollow" />

<title>Data-Files</title>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>

{% endblock %} {% block body %}

{% if zero_rules %}
<style>
  /*.btn {*/
  /*  display: flex;*/
  /*  align-items: center;*/
  /*  background: none;*/
  /*  border: 1px solid lighten(gray, 24%);*/
  /*  height: 48px;*/
  /*  padding: 0 24px 0 16px;*/
  /*  letter-spacing: .25px;*/
  /*  border-radius: 24px;*/
  /*  cursor: pointer*/
  /*  }*/

  .btn-delete {
    font-size: 16px;
    color: red;
  }

  h1 {
    background-color: black;
    color: white;
  }
</style>

<style>
  .people-list {
    display: block;
    padding: 10px;
    margin: 10px auto;
    margin-top: 10px;
    border: 2px solid #a09e9e;
  }
  a.people-list:hover {
    background-color: #a09e9e;
    text-decoration: none;
  }
  .portrait,
  .name {
    display: table-cell;
    vertical-align: middle;
    /* padding: 10px; */
  }
  .name h4 {
    color: #000000;
  }
  .name h5 {
    color: #000;
  }
  .form {
    width: 100%;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  #copyright {
    position: absolute;
    bottom: 0;
  }
</style>

<style>
  .rowfile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .input-field {
    margin-left: 1em;
    padding: 0.5em;
    margin-bottom: 0.5em;
  }

  #user {
    position: absolute;
    right: 10px;
  }
  #usertext {
    position: absolute;
    right: 20px;
  }
</style>

<!-- <link
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
  rel="stylesheet"
/> -->
<div class="container">
  <h4>Загрузите файл с данными в формате .json</h4>
  <form
    action="{{ url_for('download_json') }}"
    method="POST"
    enctype="multipart/form-data"
    style="margin-top: 5px"
    style="display: inline"
  >
    <div class="rowfile">
      <input type="file" name="filename" multiple="" id="element1" />
      <label for="fold"> Папка для загрузки: </label>
      <select
        name="folder_choose"
        class="form-select-sm"
        style="margin-left: 5px; min-width: 250px"
      >
        {% for i in range(0, len_folders) %}
        <option value="{{ folders[i] }}">{{ folders[i] }}</option>
        {% endfor %}
      </select>
      <label style="margin-left: 5px"> Имя папки (для создания новой):</label>
      <input
        type="text"
        id="new_folder_name"
        name="new_folder_name"
        value="Имя папки"
        style="margin-left: 5px"
      />
      <input type="submit" style="margin-left: 0%; margin-left: 5px" />
    </div>
  </form>


{% elif admin %}

<style>
  /*.btn {*/
  /*  display: flex;*/
  /*  align-items: center;*/
  /*  background: none;*/
  /*  border: 1px solid lighten(gray, 24%);*/
  /*  height: 48px;*/
  /*  padding: 0 24px 0 16px;*/
  /*  letter-spacing: .25px;*/
  /*  border-radius: 24px;*/
  /*  cursor: pointer*/
  /*  }*/

  .btn-delete {
    font-size: 16px;
    color: red;
  }

  h1 {
    background-color: black;
    color: white;
  }
</style>

<style>
  .people-list {
    display: block;
    padding: 10px;
    margin: 10px auto;
    margin-top: 10px;
    border: 2px solid #a09e9e;
  }
  a.people-list:hover {
    background-color: #a09e9e;
    text-decoration: none;
  }
  .portrait,
  .name {
    display: table-cell;
    vertical-align: middle;
    /* padding: 10px; */
  }
  .name h4 {
    color: #000000;
  }
  .name h5 {
    color: #000;
  }
  .form {
    width: 100%;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  #copyright {
    position: absolute;
    bottom: 0;
  }
</style>

<style>
  .rowfile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .input-field {
    margin-left: 1em;
    padding: 0.5em;
    margin-bottom: 0.5em;
  }

  #user {
    position: absolute;
    right: 10px;
  }
  #usertext {
    position: absolute;
    right: 20px;
  }
</style>

<!-- <link
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
  rel="stylesheet"
/> -->
<div class="container">
  <h4>Загрузите файл с данными в формате .json</h4>
  <form
    action="{{ url_for('download_json') }}"
    method="POST"
    enctype="multipart/form-data"
    style="margin-top: 5px"
    style="display: inline"
  >
    <div class="rowfile">
      <input type="file" name="filename" multiple="" id="element1" />
      <label for="fold"> Папка для загрузки: </label>
      <select
        name="folder_choose"
        class="form-select-sm"
        style="margin-left: 5px; min-width: 250px"
      >
        {% for i in range(0, len_folders) %}
        <option value="{{ folders[i] }}">{{ folders[i] }}</option>
        {% endfor %}
      </select>
      <label style="margin-left: 5px"> Имя папки (для создания новой):</label>
      <input
        type="text"
        id="new_folder_name"
        name="new_folder_name"
        value="Имя папки"
        style="margin-left: 5px"
      />
      <input type="submit" style="margin-left: 0%; margin-left: 5px" />
      <div class="button" id="user">
        <a href="users_config"> <i class="fa fa-user-circle-o fa-3x"></i></a>
      </div>
    </div>
  </form>


<div class="row" style="margin-top: 20px">
      {% for i in range(0, len_folders) %}
      <a class="people-list" href="/datalake/{{folders[i]}}">
        <!-- <span class="portrait">
          <img src="/static/picture/themes_files.png" class="img-circle" />
        </span> -->
          <h4>{{ folders[i] }}</h4>
      </a>
      <form action="/delete-folder/{{folders[i]}}">
        <button href="/delete-folder/{{folders[i]}}" style="color: tomato;   display: inline-block;
        width: 15%; margin-left:85%;">
          Удалить папку {{folders[i]}}
        </button>
      </form>
      {% endfor %}
</div>

<script>
  /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
  function myFunction() {
    document.getElementById('myDropdown').classList.toggle('show');
  }

  // Close the dropdown if the user clicks outside of it
  window.onclick = function (e) {
    if (!e.target.matches('.dropbtn')) {
      var myDropdown = document.getElementById('myDropdown');
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
    }
  };
</script>

{% elif not admin %}

<style>
  /*.btn {*/
  /*  display: flex;*/
  /*  align-items: center;*/
  /*  background: none;*/
  /*  border: 1px solid lighten(gray, 24%);*/
  /*  height: 48px;*/
  /*  padding: 0 24px 0 16px;*/
  /*  letter-spacing: .25px;*/
  /*  border-radius: 24px;*/
  /*  cursor: pointer*/
  /*  }*/

  .btn-delete {
    font-size: 16px;
    color: red;
  }

  h1 {
    background-color: black;
    color: white;
  }
</style>

<style>
  .people-list {
    display: block;
    vertical-align: middle;
    padding: 10px;
    margin: 10px auto;
    margin-top: 10px;
    border: 2px solid #a09e9e;
  }
  a.people-list:hover {
    background-color: #a09e9e;
    text-decoration: none;
  }
  .portrait,
  .name {
    display: table-cell;
    vertical-align: middle;
    /* padding: 10px; */
  }
  .name h4 {
    color: #000000;
  }
  .name h5 {
    color: #000;
  }
  .form {
    width: 100%;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  #copyright {
    position: absolute;
    bottom: 0;
  }
</style>

<style>
  .rowfile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .input-field {
    margin-left: 1em;
    padding: 0.5em;
    margin-bottom: 0.5em;
  }

  #user {
    position: absolute;
    right: 10px;
  }
  #usertext {
    position: absolute;
    right: 20px;
  }
</style>

<!-- <link
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
  rel="stylesheet"
/> -->
<div class="container">
  <h4>Загрузите файл с данными в формате .json</h4>
  <form
    action="{{ url_for('download_json') }}"
    method="POST"
    enctype="multipart/form-data"
    style="margin-top: 5px"
    style="display: inline"
  >
    <div class="rowfile">
      <input type="file" name="filename" multiple="" id="element1" />
      <label for="fold"> Папка для загрузки: </label>
      <select
        name="folder_choose"
        class="form-select-sm"
        style="margin-left: 5px; min-width: 250px"
      >
        {% for i in range(0, len_folders) %}
        <option value="{{ folders[i] }}">{{ folders[i] }}</option>
        {% endfor %}
      </select>
      <label style="margin-left: 5px"> Имя папки (для создания новой):</label>
      <input
        type="text"
        id="new_folder_name"
        name="new_folder_name"
        value="Имя папки"
        style="margin-left: 5px"
      />
      <input type="submit" style="margin-left: 0%; margin-left: 5px" />
    </div>
  </form>

  <div class="row" style="margin-top: 20px">
    <div class="col-xs-12 col-sm-6 col-md-4">
      {% for i in range(0, len_folders) %}
      <a class="people-list" href="/datalake/{{folders[i]}}">
        <!-- <span class="portrait">
          <img src="/static/picture/themes_files.png" class="img-circle" />
        </span> -->
        <span class="name">
          <h4>{{ folders[i] }}</h4>
        </span>
        {% endfor %}
      </a>
    </div>
  </div>
</div>

<script>
  /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
  function myFunction() {
    document.getElementById('myDropdown').classList.toggle('show');
  }

  // Close the dropdown if the user clicks outside of it
  window.onclick = function (e) {
    if (!e.target.matches('.dropbtn')) {
      var myDropdown = document.getElementById('myDropdown');
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
    }
  };
  
  {% endif %}
{% endblock %}
