{% extends 'base.html' %}
{% block head %}

    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">

    <title>Datalake</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

<style>

body {
  margin: 32px;
}

/*.btn {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  background: none;*/
/*  border: 1px solid lighten(gray, 24%);*/
/*  height: 48px;*/
/*  padding: 0 24px 0 16px;*/
/*  letter-spacing: .25px;*/
/*  border-radius: 24px;*/
/*  cursor: pointer*/
/*  }*/


.btn-delete {
  font-size: 16px;
  color: red
  }


</style>

{% block body %}

<ul>
    {% for key in files_dict.keys() %}
     <li style="margin-top: 20px">{{key}}
         {% for val in files_dict[key] %}
           <ul style="margin-top: 5px">
                <a href="/return-files/{{val}}" target="blank"><button type="button" class="btn btn-link"> {{ val }} </button></a>
<!--                <a href="/delete-file/{{val}}" style="margin-left: 2px; background-color: tomato"> Удалить </a>-->
               <button class="btn-delete" >
                  <span class="mdi mdi-delete mdi-24px"></span>
                  <span class="mdi mdi-delete-empty mdi-24px"></span>
                  <a class="btn-deletes" href="/delete-file/{{val}}" style="color: indianred">Delete</a>
                </button>
           </ul>{% endfor %}</li>
    {% endfor %}
</ul>
<br>
<h4 style="margin-left: 25px">Загрузить файл</h4>

<form action="{{ url_for('datalake') }}" method="POST" enctype="multipart/form-data" style="margin-left: 25px" id="category" name="filenames">
        <p><input type='file' name='filename' multiple='' id="element1"></p>
        <input type='submit' value='ОК' id="element2">
</form>


<style type="text/css">
#element1 {float:left;margin-right:-5px;}
#element2 {float:left;}
 </style>


</html>
{% endblock %}