{% extends 'base.html' %}
{% block head %}

  <!-- <link rel="icon" type="image/x-icon" href="https://www.highcharts.com/demo/static/favicon.ico"> -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Media Rating</title>
  <link rel=stylesheet href=//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css/>
  <!-- <link rel=stylesheet href=https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css /> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>

  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <style>

  body {
    margin: 0;
    color: #313131;
    font-family: sans-serif;
    min-width: 1200px;
  }
  body.toc{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
    font-weight: bolder;
    text-transform: uppercase;
  }
  h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
    font-weight: bolder;
    text-transform: uppercase;
  }
  h3 {
    font-size: 1.17em;
    margin: 1em 0;
    font-weight: bolder;
    text-transform: uppercase;
  }
  h4 {
    font-weight: bolder;
    text-transform: uppercase;
  }

  .highcharts-samples-navbar {
    background-color: #4e5c47;
    height: 50px;
  }
  .highcharts-samples-navbar .sample-navbar-brand img {
    height: 66px;
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
    max-height: 95%;
    margin-left: 5px;
    width: auto;
    max-width: 50vw;
  }
  .actions {
    float: right;
    max-width: 50vw;
  }
  .action {
    float: left;
    line-height: 50px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 0.8em;
  }
  a.action {
    color: #424BCD;
  }
  a.action:hover {
    text-decoration: underline;
  }
  .action i.fab {
    font-size: 1.6em;
  }
  .action i.fa-jsfiddle {
    font-weight: 700;
  }
  .highcharts-samples-navbar a.action {
    color: #eeeaea;
  }
  .description {
    max-width: 800px;
    margin: 1em auto;
    padding: 10px;
  }
  .error {
    text-align: center;
    font-style: italic;
    color: red;
  }

  .embed .highcharts-samples-navbar {
    background-color: #EBEBEB;
    color: #3d3d3d;
    height: 50px;
  }
  .embed .sample-navbar-brand {
    display: none;
  }
  .embed a.action {
    color: #424BCD;
  }

  .nonav .highcharts-samples-navbar {
    display: none;
  }

  li{
    max-width: 60rem;
  }

  ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    line-height: 1.25rem;
}

@media only screen and (max-width: 800px) {
  .actions .action {
    font-size: 0.65em;
  }
}


</style>
    <style>
      .highcharts-figure,
.highcharts-data-table table {
    min-width: 800px;
    max-width: 800px;
    min-height: 1200px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.highcharts-credits {
display: none !important;
}

.container2 {
  min-height: 12000px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 800px;
    height: 50px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: -25px 0;
    position: absolute;
    z-index: 1;
    bottom: -100%;
    left: 50%;
    margin-left: 60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip-inner {
    white-space: pre-line;
}

    </style>

{% endblock %}

{% block body %}

{% if error_message %}

<style>
  #jstext {
  text-align: center;
  /* font-size: 20px; */
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  font: italic normal bold normal 1.2em/1.5 Helvetica, Arial, sans-serif;
}

#progressBar { 
  width: 100%; 
 }

</style>

<script> 
var error = {{ error_message|safe }};

  function Redirect() 
  {  
      window.location="media_rating"; 
  } 
  document.write('<p id="jstext">' + '&#10031;&#10031;&#10031; <br/>' + error.error_name + '</p>'); 
  setTimeout('Redirect()', 5000);   
</script>

<progress value="0" max="10" id="progressBar"></progress>

<script>
  var timeleft = 10;
  var downloadTimer = setInterval(function(){
    if(timeleft <= 0){
      clearInterval(downloadTimer);
    }
    document.getElementById("progressBar").value = 11 - timeleft;
    timeleft -= 1;
  }, 500);
</script>

{% elif not data %}

    <style>
        form {
  text-align: center;
  margin-top: 10px;
}
    </style>

  <form action="/media_rating" method="POST" >
  <div class="input-group">
    <div class="input-group-prepend" id="button-addon3">
      <select class="custom-select" name="file_choose">
        {% for key, val in folders_dict_files.items() %} {% if val|length != 0
        %}
        <optgroup label="{{ key }}">
          {% for i in range(val|length) %}
          <option style="font-family: Didot">{{ val[i] }}</option>
          {% endfor %}
        </optgroup>
        {% elif val|length == 0 %}
        <optgroup label="{{ key }}">
          <option>{{ val[i] }}</option>
          {% endif %}
        </optgroup>
        {% endfor %}
      </select>
      <input type="text" name="daterange" value="01/01/2022 - 01/12/2022"/>
      <input type="submit" href="{{ url_for('media_rating') }}" name="send" value="Запуск">
    </div>
  </div>
  </form>

    <script>
      $(function() {
        $('input[name="daterange"]').daterangepicker({
          opens: 'center',
          singleDatePicker: false,
          startDate: new Date(),
          showDropdowns: true,
          timePicker: true,
          timePicker24Hour: true,
          timePickerIncrement: 10,
          autoUpdateInput: true,
        }, function(start, end, label) {
          console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
      });
      </script>


{% elif data %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>


<form action="/media_rating" method="POST" >
  <div class="input-group" style="margin-top: 10px;">
    <div class="input-group-prepend" id="button-addon3">
      <div class="tooltip">Запрос
        <span class="tooltiptext">Тема: {{filename}} <br/> Даты: {{date}}</span>
      </div>
      <select class="custom-select" name="choose_file">
        {% for key, val in folders_dict_files.items() %} {% if val|length != 0
        %}
        <optgroup label="{{ key }}">
          {% for i in range(val|length) %}
          <option style="font-family: Didot">{{ val[i] }}</option>
          {% endfor %}
        </optgroup>
        {% elif val|length == 0 %}
        <optgroup label="{{ key }}">
          <option>{{ val[i] }}</option>
          {% endif %}
        </optgroup>
        {% endfor %}
      </select>
        <!--    <input type="hidden" name="filename" value="{{ files[i] }}">-->
        <input type="text" name="daterange" value="01/01/2022 - 01/12/2022" />

        <script>
          $(function() {
            $('input[name="daterange"]').daterangepicker({
              opens: 'center',
              singleDatePicker: false,
              startDate: new Date(),
              showDropdowns: true,
              timePicker: true,
              timePicker24Hour: true,
              timePickerIncrement: 10,
              autoUpdateInput: true,
            }, function(start, end, label) {
              console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            });
          });
          </script>
        <input type="submit" class="btn btn-light" href="{{ url_for('media_rating') }}" name="send" value="Запуск">
    </div>
      </form>


<div id="container" style="margin-top: 20px;"></div>
  </div>

    <script>
    // var data = JSON.parse('{{ data|tojson }}');
    var data = {{ data|safe }};

    var smi_pos = []
    var smi_neg = []

    for (i = 0; i < data.pos_smi_name.length; i++) {
    smi_pos.push({
            name: data.pos_smi_name[i],
            value: data.pos_smi_rating[i],
            count: data.pos_smi_count[i],
            color: "#32ff32"
        })
    }

    for (i = 0; i < data.neg_smi_name.length; i++) {
    smi_neg.push({
            name: data.neg_smi_name[i],
            value: data.neg_smi_rating[i],
            count: data.neg_smi_count[i],
            color: "#FF3232"
            
        })
    }


    Highcharts.chart('container', {
    chart: {
        type: 'packedbubble',
        height: '60%'
    },
    title: {
        text: '{{ theme }}: тональность в СМИ'
    },
    tooltip: {
        useHTML: true,
        pointFormat: '<b>{point.name}:</b> Соцмедиа индекс: {point.value} Публикаций: {point.count}'
    },
    plotOptions: {
        packedbubble: {
            minSize: '20%',
            maxSize: '100%',
            layoutAlgorithm: {
                gravitationalConstant: 0.05,
                splitSeries: true,
                seriesInteraction: false,
                dragBetweenSeries: true,
                parentNodeLimit: true
            },
            dataLabels: {
                enabled: true,
                format: '{point.name}',
                style: {
                    textOutline: 'none',
                    fontWeight: 'normal'
                }
            }
        }
    },

    series: [{
        name: 'Negative',
        data: smi_neg,
        color: "#b23700"
    }, {
        name: 'Positive',
        data: smi_pos,
        color: "#005a04"
    }]
});
    </script>
    <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      /* Script for setting iframe height when on Highcharts.com */
          try {

            // Allow hiding the description by search param
            const search = window.location.search;
            if(search && search.includes('hide-description')){
              const description = document.querySelector('.highcharts-description, .highcharts-linked-description');
              if(description){
                description.style.display = 'none';
              }
            }

            const iframes = window.parent.document.getElementsByTagName('iframe');

            for(let iframe of iframes){
              const { height } = iframe.contentWindow.document.body.getBoundingClientRect();
              if (
                height &&
                height > iframe.height
              ) {
                iframe.setAttribute('height', height);
                iframe.style.setProperty('height', height + 25 + 'px')
              }
            }
          } catch (e) {}
    });
    </script>


<div>
  <style>
    body {
      margin: 0;
      color: #313131;
      font-family: sans-serif;
      min-width: 300px;
    }
    body.toc{
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
    }
    h1 {
      font-size: 2em;
      margin: 0.67em 0;
      font-weight: bolder;
      text-transform: uppercase;
    }
    h2 {
      font-size: 1.5em;
      margin: 0.83em 0;
      font-weight: bolder;
      text-transform: uppercase;
    }
    h3 {
      font-size: 1.17em;
      margin: 1em 0;
      font-weight: bolder;
      text-transform: uppercase;
    }
    h4 {
      font-weight: bolder;
      text-transform: uppercase;
    }
  
    .highcharts-samples-navbar {
      background-color: #4b5c47;
      height: 50px;
    }
    .highcharts-samples-navbar .sample-navbar-brand img {
      height: 66px;
      margin-top: auto;
      margin-bottom: auto;
      height: auto;
      max-height: 95%;
      margin-left: 5px;
      width: auto;
      max-width: 50vw;
    }
    .actions {
      float: right;
      max-width: 50vw;
    }
    .action {
      float: right;
      line-height: 50px;
      margin-right: 10px;
      text-decoration: none;
      font-size: 0.8em;
    }
    a.action {
      color: #424BCD;
    }
    a.action:hover {
      text-decoration: underline;
    }
    .action i.fab {
      font-size: 1.6em;
    }
    .action i.fa-jsfiddle {
      font-weight: 700;
    }
    .highcharts-samples-navbar a.action {
      color: #eeeaea;
    }
    .description {
      max-width: 1000px;
      margin: 1em auto;
      padding: 10px;
    }
    .error {
      text-align: center;
      font-style: italic;
      color: red;
    }
  
    .embed .highcharts-samples-navbar {
      background-color: #EBEBEB;
      color: #3d3d3d;
      height: 50px;
    }
    .embed .sample-navbar-brand {
      display: none;
    }
    .embed a.action {
      color: #424BCD;
    }
  
    .nonav .highcharts-samples-navbar {
      display: none;
    }
  
    li{
      max-width: 60rem;
    }
  
    ul, menu, dir {
      display: block;
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
      line-height: 1.25rem;
  }
  
  @media only screen and (max-width: 1000px) {
    .actions .action {
      font-size: 0.65em;
    }
  }
  
  
  </style>
      <style>
  .highcharts-figure, .highcharts-data-table table {
    min-width: auto;
    max-width: auto;
    margin-right: auto;
    margin-left: auto;
}
  
.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
  height: 100%;
	max-width: 1500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.menus {
  margin-left: auto;
  margin-right: auto;
}

input[type="number"] {
	min-width: 50px;
}

form {
  text-align: center;
}

      </style>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://code.highcharts.com/modules/annotations.js"></script>


  <figure>
    <figure>
      <div id="container2" style="min-height: 1200px;"></div>

      <script>

      var databobble = []

      for (i = 0; i < data.date_bobble.length; i++) {
            databobble.push({ x: data.date_bobble[i], 
            y: data.index_bobble[i], 
            z: data.z_index_bobble[i], 
            name: data.name_bobble[i],
            url: data.tonality_url[i],
            color: data.tonality_index_bobble[i] })  
      }
      

      Highcharts.chart("container2", {

      chart: {
          type: "bubble",
          plotBorderWidth: 1,
          zoomType: "xyz"
      },
  
      legend: {
          enabled: false
      },
  
      title: {
          text: "{{ theme }}: Динамика тональности в СМИ"
      },
  
      accessibility: {
          point: {
              valueDescriptionFormat:
            "{index}. {point.name}, Медиа Индекс: {point.y}, Публикаций за период: {point.z}."
          }
      },
  
      xAxis: {   
        type: 'datetime',
               dateTimeLabelFormats: { 
                  year: '%b'
               },
      },
  
      yAxis: {
          startOnTick: false,
          endOnTick: false,
          crosshair: true,
          title: {
              text: "Соцмедиа индекс", 
              style: "bold"
          },
          labels: {
              format: "{value}", 
              
          },
          accessibility: {
              rangeDescription: "Range: $0 to $2B."
          }
      },


      tooltip: {
          useHTML: true,
          headerFormat: "<table>",
          pointFormat:
          '<tr><th colspan="2"><h3>{point.name}</h3></th></tr>' +
          "<tr><th>Медиа Индекс:</th><td>{point.y}</td></tr>", 
          // "<tr><th>Публикаций за период:</th><td>{point.z}</td></tr>",
          footerFormat: "</table>",
          followPointer: true,
          shared: true,
      },

      plotOptions: {
          series: {
              dataLabels: {
                  enabled: true,
                  format: "{point.name}",
              },
              cursor: 'pointer',
              point: {
                  events: {
                      click: function () {
                        window.open(this.options.url);
                      }
                  }
              }
          }
      },
  
      series: [
          {
              color: "#FF3232",
              data: databobble
          }
      ]
  });
  
      </script>
      <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        /* Script for setting iframe height when on Highcharts.com */
            try {
  
              // Allow hiding the description by search param
              const search = window.location.search;
              if(search && search.includes('hide-description')){
                const description = document.querySelector('.highcharts-description, .highcharts-linked-description');
                if(description){
                  description.style.display = 'none';
                }
              }
  
              const iframes = window.parent.document.getElementsByTagName('iframe');
  
              for(let iframe of iframes){
                const { height } = iframe.contentWindow.document.body.getBoundingClientRect();
                if (
                  height &&
                  height > iframe.height
                ) {
                  iframe.setAttribute('height', height);
                  iframe.style.setProperty('height', height + 25 + 'px')
                }
              }
            } catch (e) {}
      });
      </script>
    </figure>
  </figure>
</div>

{% elif not data %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>


<form action="/media_rating" method="POST" >
  <div class="input-group" style="margin-top: 10px;">
    <div class="input-group-prepend" id="button-addon3">
      <div class="tooltip">Запрос
        <span class="tooltiptext">Тема: {{filename}} <br/> Даты: {{date}}</span>
      </div>
      <select class="custom-select" name="file_choose">
        {% for key, val in folders_dict_files.items() %} {% if val|length != 0
        %}
        <optgroup label="{{ key }}">
          {% for i in range(val|length) %}
          <option style="font-family: Didot">{{ val[i] }}</option>
          {% endfor %}
        </optgroup>
        {% elif val|length == 0 %}
        <optgroup label="{{ key }}">
          <option>{{ val[i] }}</option>
          {% endif %}
        </optgroup>
        {% endfor %}
      </select>
        <!--    <input type="hidden" name="filename" value="{{ files[i] }}">-->
        <input type="text" name="daterange" value="01/01/2022 - 01/12/2022" />

        <script>
          $(function() {
            $('input[name="daterange"]').daterangepicker({
              opens: 'center',
              singleDatePicker: false,
              startDate: new Date(),
              showDropdowns: true,
              timePicker: true,
              timePicker24Hour: true,
              timePickerIncrement: 10,
              autoUpdateInput: true,
            }, function(start, end, label) {
              console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            });
          });
          </script>
        <input type="submit" class="btn btn-light" href="{{ url_for('media_rating') }}" name="send" value="Запуск">
    </div>
      </form>

{% endif %}

{% endblock %}
