{% extends 'base.html' %} {% block head %}

<meta charset="utf-8" />
<meta name="robots" content="noindex, nofollow" />

<title>projector_files</title>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>

{% endblock %} {% block body %}

<style>
  ul {
    list-style-type: square;
  }
</style>

<h4 style="margin-left: 7px; margin-bottom: 25px">
  Скачайте файлы для загрузки в Projector
</h4>

{% for file in files %}
<ul class="ul" style="color: black">
  <a href="/projector-file-load/{{file}}" target="blank">{{ file }}</a>
</ul>
{% endfor %} {% endblock %}
