<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <!-- <link rel="icon" type="image/x-icon" href="https://www.highcharts.com/demo/static/favicon.ico"> -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    
    <style>
      #container2 {
        max-width: auto;
        min-height: 800px;
        max-height: auto;
        margin: auto;
        margin-top: 50px;
      }
      </style>
      
    <figure>
      <div id="container2"></div>
        <script>
          Highcharts.setOptions({
        colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
      });
      
      var date = JSON.parse('{{ multivalue_dict|tojson }}');
      const series = [];

      for (var key in date) {
  
        var data = []
        for (i = 0; i < date[key].length; i++) 
            data.push({ x:date[key][i][0], y: date[key][i][1], name: date[key][i][2], url: date[key][i][3], 
            hub: key})

        series.push({
          name: key,
          data: data})
      }



      const colors = Highcharts.getOptions().colors.map(
        c => Highcharts.color(c).setOpacity(0.8).get()
      );
    
      Highcharts.chart("container2", {
        chart: {
          type: "scatter",
          zoomType: "xy"
        },
        colors,
        title: {
          text: "Динамика распространения информации пользователями"
        },
        // subtitle: {
        //   text:
        //   'Source: <a href="https://www.theguardian.com/sport/datablog/2012/aug/07/olympics-2012-athletes-age-weight-height">The Guardian</a>'
        // },

        xAxis: {   
        type: 'datetime',
               dateTimeLabelFormats: { 
                  year: '%b'
               },

          title: {
            text: "Дата / время"
          },

        },
        yAxis: {
          title: {
            text: "Аудитория"
          },
          labels: {
            format: "{value}"
          }
        },
        legend: {
          enabled: true
        },
        plotOptions: {
          series: {
            dataGrouping: {
                enabled: true
            }
        },
          scatter: {
            marker: {
              radius: 4.5,
              symbol: "circle",
              states: {
                hover: {
                  enabled: true,
                  lineColor: "rgb(100,100,100)"
                }
              }
            },
            cursor: 'pointer',
              point: {
                  events: {
                      click: function () {
                        window.open(this.options.url);
                      }
                  }
              }
          }
      },
      tooltip: {
          useHTML: true,
          headerFormat: "<table>",
          pointFormat:
          "<tr><th>Источник:</th><td>{point.hub}</td></tr>" +
          "<tr><th>Автор:</th><td>{point.name}</td></tr>" + 
          "<tr><th>Аудитория:</th><td>{point.y}</td></tr>",
          // "<tr><th>Публикаций за период:</th><td>{point.z}</td></tr>",
          footerFormat: "</table>",
          followPointer: true,
          shared: true,
      },
        series: series
      });
   
      </script>
    </figure>
</html>