{% extends "base.html" %} {% block head %}

<meta charset="utf-8" />
<title>authors clustering</title>

<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"> -->

<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="/static/js/d3.min.js"></script>
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->

<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script> -->
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
></script>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
/>

<!-- <link rel="stylesheet" type="text/css" href="/static/cdn/media_rating/8.0.1_normalize.min.css"></link> -->

<!-- <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css"></link>
<link rel="stylesheet" type="text/css" href="/static/css/styles.css" media="all"></link> -->

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

{% endblock %} {% block title %} Authors Clustering {% endblock %} {% block body
%} {% if not names %}

<style>
  .highcharts-figure {
    display: flex;
    justify-content: center;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 750px;
    height: 70px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: -150px 0;
    position: absolute;
    z-index: 1;
    bottom: -100%;
    left: 50%;
    margin-left: 60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .tooltip-inner {
    white-space: pre-line;
  }
</style>

<figure class="highcharts-figure">
  <div class="container">
    <form action="/authors" method="POST">
      <select
        name="file_choose"
        title="thing"
        class="form-select-sm"
        aria-label="Пример выбора по умолчанию"
      >
        <option selected>select File</option>
        {% for i in range(0, len_files) %}
        <!-- <option value="{{ files[i] }}">{{ files[i] }}</option> -->
        <option value="{{ files[i] }}" name="{{ files[i] }}">
          {{ files[i] }}
        </option>
        {% endfor %}
      </select>
      <!--    <input type="hidden" name="filename" value="{{ files[i] }}">-->
      <!-- <input type="text" name="daterange" value="01/01/2022 - 01/12/2022" /> -->
      <input
        type="submit"
        class="btn btn-outline-dark"
        href="{{ url_for('authors') }}"
        name="send"
        value="Ок"
      />
    </form>
  </div>
</figure>

<script>
  $(function () {
    $('input[name="daterange"]').daterangepicker(
      {
        opens: 'left',
      },
      function (start, end, label) {
        console.log(
          'A new date selection was made: ' +
            start.format('YYYY-MM-DD') +
            ' to ' +
            end.format('YYYY-MM-DD')
        );
      }
    );
  });
</script>

{% elif names %}

<style>
  .highcharts-figure {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .container {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 750px;
    height: 50px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 0px;
    position: absolute;
    z-index: 1;
    bottom: -80%;
    left: 30%;
    margin-left: 40px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .tooltip-inner {
    white-space: pre-line;
  }
</style>

<figure class="highcharts-figure">
  <div class="container">
    <form action="/authors" method="POST">
      <select
        name="file_choose"
        title="thing"
        class="form-select-sm"
        aria-label="Пример выбора по умолчанию"
      >
        <option selected>select File</option>
        {% for i in range(0, len_files) %}
        <!-- <option value="{{ files[i] }}">{{ files[i] }}</option> -->
        <option value="{{ files[i] }}" name="{{ files[i] }}">
          {{ files[i] }}
        </option>
        {% endfor %}
      </select>
      <!--    <input type="hidden" name="filename" value="{{ files[i] }}">-->
      <!-- <input type="text" name="daterange" value="01/01/2022 - 01/12/2022" /> -->
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckDefault"
        name="unique_authors"
      />
      <label class="form-check-label" for="flexCheckDefault">
        Уникальные авторы
      </label>
      <input
        type="submit"
        class="btn btn-outline-dark"
        href="{{ url_for('authors') }}"
        name="send"
        value="Ок"
      />
    </form>
    <div class="tooltip" style="margin-left: 5px">
      Запрос
      <span class="tooltiptext"
        >Тема: {{filename}} <br />
        Уникальные авторы: {{unique_author}}
      </span>
    </div>
  </div>
</figure>

<!-- <script>
  $(function () {
    $('input[name="daterange"]').daterangepicker(
      {
        opens: 'left',
      },
      function (start, end, label) {
        console.log(
          'A new date selection was made: ' +
            start.format('YYYY-MM-DD') +
            ' to ' +
            end.format('YYYY-MM-DD')
        );
      }
    );
  });
</script> -->

<h1 style="text-align: center">Кластеризация авторов</h1>
<div style="text-align: center">
  Кластеризация находит близких по смыслу авторов на основе анализа их текстов
</div>

<style>
  .container2 {
    display: flex;
    justify-content: center;
    min-width: auto;
    max-width: auto;
    min-height: auto;
    max-height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
  }

  .container3 {
    display: flex;
    justify-content: center;
    min-width: auto;
    max-width: auto;
    min-height: auto;
    max-height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
  }

  .container4 {
    display: flex;
    justify-content: center;
    min-width: 80%;
    max-width: auto;
    min-height: 80%;
    max-height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
  }

  .textarea {
    width: 400px;
    margin: 10px;
    display: inline-block;
    text-align: left;
  }
  .container {
    margin: auto;
    text-align: center;
  }

  .btn-green {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .btn-red {
    background-color: #f44336; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .hide {
    display: none;
  }
</style>

<!-- <textarea id="inlabels" style="width: 200px; height:100px">
  {{ names }}
  </textarea>

  <textarea id="incsv" style="width: 200px; height:100px;">
    {{ coord }}
    </textarea> -->

<div class="hide">
  <div>
    <b style="text-align: left"> Имена авторов: </b><br />
    <textarea id="inlabels" style="width: 200px; height: 100px">
    {{ names }}
    </textarea>
  </div>
  <div>
    <b style="text-align: right">Координаты в пространстве:</b><br />
    <textarea id="incsv" style="width: 200px; height: 100px">
    {{ coord }}
    </textarea>
  </div>
</div>

<!-- <div class="container2">
<div class="row">
  <div class="col-sm-4">
<br>
Learning rate: <input type="text" id="lrtxt" maxlength="10" value="10" style="width:40px;">
Perplexity: <input type="text" id="perptxt" maxlength="10" value="30" style="width:40px;">
  </div>
  </div>
</div> -->

<br />
<div class="container3">
  <button
    type="button"
    id="inbut"
    class="btn-green"
    style="width: 200px; height: 50px"
  >
    Старт!
  </button>
  <button
    type="button"
    id="stopbut"
    class="btn-red"
    style="width: 200px; height: 50px"
  >
    Стоп
  </button>
  <br />
  <div id="cost" style="text-align: left; font-family: Impact"></div>
</div>

<div class="container4">
  <div id="embed"></div>
</div>

<script src="../static/js/tsne.js"></script>

<!-- Tracking code -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3698471-13']);
  _gaq.push(['_trackPageview']);

  (function () {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src =
      ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
      '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
</script>

<style>
  svg {
    border: 1px solid #333;
    margin-top: 20px;
  }
  body {
    font-size: 16px;
  }
</style>

<script>
  var T, opt;

  var Y; // tsne result stored here
  var data;

  function updateEmbedding() {
    // get current solution
    var Y = T.getSolution();
    // move the groups accordingly
    gs.attr('transform', function (d, i) {
      return (
        'translate(' +
        (Y[i][0] * 20 * ss + tx + 400) +
        ',' +
        (Y[i][1] * 20 * ss + ty + 400) +
        ')'
      );
    });
  }

  var svg;
  function initEmbedding() {
    $('#embed').empty();
    var div = d3.select('#embed');
    svg = div
      .append('svg') // svg is global
      .attr('width', 1140)
      .attr('height', 1140);
  }

  var gs;
  var cs;
  var ts;
  function drawEmbedding() {
    gs = svg.selectAll('.b').data(data).enter().append('g').attr('class', 'u');

    cs = gs
      .append('circle')
      .attr('cx', 0)
      .attr('cy', 0)
      .attr('r', 5)
      .attr('stroke-width', 1)
      .attr('stroke', 'black')
      .attr('fill', 'rgb(100,100,255)');

    if (labels.length > 0) {
      ts = gs
        .append('text')
        .attr('text-anchor', 'top')
        .attr('transform', 'translate(5, -5)')
        .attr('font-size', 12)
        .attr('fill', '#333')
        .text(function (d, i) {
          return labels[i];
        });
    }

    var zoomListener = d3.behavior
      .zoom()
      .scaleExtent([0.1, 10])
      .center([0, 0])
      .on('zoom', zoomHandler);
    zoomListener(svg);
  }

  var tx = 0,
    ty = 0;
  var ss = 1;
  function zoomHandler() {
    tx = d3.event.translate[0];
    ty = d3.event.translate[1];
    ss = d3.event.scale;
  }

  var stepnum = 0;
  function step() {
    if (dotrain) {
      var cost = T.step(); // do a few steps
      // $("#cost").html("iteration " + T.iter + ", cost: " + cost);
      $('#cost').html('iteration ' + T.iter);
    }
    updateEmbedding();
  }

  labels = [];
  function preProLabels() {
    var txt = $('#inlabels').val();
    var lines = txt.replace(/^\s+/, '').split('\n');
    labels = [];
    for (var i = 0; i < lines.length; i++) {
      var row = lines[i];
      if (!/\S/.test(row)) {
        // row is empty and only has whitespace
        continue;
      }
      labels.push(row);
    }
  }

  dataok = false;
  function preProData() {
    var txt = $('#incsv').val();
    // $("#deltxt").val()
    var d = ',';
    var lines = txt.split('\n');
    var raw_data = [];
    var dlen = -1;
    dataok = true;
    for (var i = 0; i < lines.length; i++) {
      var row = lines[i];
      if (!/\S/.test(row)) {
        // row is empty and only has whitespace
        continue;
      }
      var cells = row.split(d);
      var data_point = [];
      for (var j = 0; j < cells.length; j++) {
        if (cells[j].length !== 0) {
          data_point.push(parseFloat(cells[j]));
        }
      }
      var dl = data_point.length;
      if (i === 0) {
        dlen = dl;
      }
      if (dlen !== dl) {
        // TROUBLE. Not all same length.
        console.log('TROUBLE: row ' + i + ' has bad length ' + dlen);
        dlen = dl; // hmmm...
        dataok = false;
      }
      raw_data.push(data_point);
    }
    data = raw_data; // set global
  }

  dotrain = true;
  iid = -1;
  $(window).load(function () {
    initEmbedding();

    $('#stopbut').click(function () {
      dotrain = false;
    });

    $('#inbut').click(function () {
      initEmbedding();
      preProData();
      if (!dataok) {
        // this is so terrible... globals everywhere #fasthacking #sosorry
        alert(
          'there was trouble with data, probably rows had different number of elements. See console for output.'
        );
        return;
      }
      preProLabels();
      if (labels.length > 0) {
        if (data.length !== labels.length) {
          alert(
            'number of rows in Text labels (' +
              labels.length +
              ') does not match number of rows in Data (' +
              data.length +
              ')! Aborting.'
          );
          return;
        }
      }

      // ok lets do this
      // opt = {epsilon: parseFloat($("#lrtxt").val()), perplexity: parseInt($("#perptxt").val()), dim: data[0].length};
      opt = {
        epsilon: parseFloat('10'),
        perplexity: parseInt('30'),
        dim: data[0].length,
      };
      T = new tsnejs.tSNE(opt); // create a tSNE instance

      // $('input[name=rdata]:checked', '#datatypeform').val()
      var dfv = 'raw';
      if (dfv === 'raw') {
        console.log('raw');
        T.initDataRaw(data);
      }
      if (dfv === 'dist') {
        console.log('dist');
        T.initDataDist(data);
      }
      drawEmbedding();
      iid = setInterval(step, 10);
      dotrain = true;
    });
  });
</script>

{% endif %} {% endblock %}
